body {
    background-color: rgb(27, 27, 27);
    color: rgb(224, 224, 224);
    font-family: 'Press Start 2P', monospace;
    font-size: 10pt;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

h1 {
    color: #8B008B;
    font-size: 30pt;
}

button {
    background-color: #000000;
    color: white;
    margin: 10px;
    border: none;
    height: 30px;
    width: 80px;
    font-size: 8pt;
    font-family: 'Press Start 2P', monospace;
}

button:hover {
    background-color: #f300f3;
}

.grid {
    border: 1px solid black;
}

.cube {
    border: 1px solid rgb(177, 177, 177);
    width: 20px;
    height: 20px;
    box-sizing: border-box;
}

.grid-container {
    display: flex;
    justify-content: space-evenly;
    width: 500px;
}

.options-container {
    background-color: rgb(0, 0, 0);
    width: 500px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.game-board {
    border: 1px solid rgb(177, 177, 177);
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
}

.destroyer {
    background-color: rgb(20, 128, 50);
}

.destroyer-preview {
    background-color: rgb(20, 128, 50);
    width: 20px;
    height: 10px;
    margin: 5px;
}

.submarine-preview {
    background-color: darkred;
    width: 40px;
    height: 10px;
    margin: 5px;
}

.submarine {
    background-color: darkred;
}

.cruiser-preview {
    background-color: white;
    width: 40px;
    height: 10px;
    margin: 5px;
}

.cruiser {
    background-color: white;
}

.battleship-preview {
    background-color: darkorchid;
    width: 50px;
    height: 10px;
    margin: 5px;
}

.battleship {
    background-color: darkorchid;
}

.carrier-preview {
    background-color: darkorange;
    width: 60px;
    height: 10px;
    margin: 5px;
}

.carrier {
    background-color: darkorange;
}


.hover {
    background-color: gray;
}

.hit {
    background-color: red !important;
}

.empty {
    background-color: rgb(42, 42, 42) !important;
}

#computer .destroyer,
#computer .submarine,
#computer .cruiser,
#computer .battleship,
#computer .carrier {
    background-color: gray;
}

.game-timer, .timer-header {
    margin-top: 20px;
}